<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	<!-- poner siempre el thymeleaf -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribute Example</title>
</head>
<body>
   <table>
  <tbody>
  <!--funciona como un forEach  -->
    <tr th:each="student: ${listaEstudiantes}">
        <td th:text="${student.id}" />
        <td th:text="${student.name}" />
    </tr>
</tbody>
   </table>
   
</body>
</html>