@charset "UTF-8";

/* index_login */

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#botonesIndex {
  width: 180px;
  height: 30px;
  font-size: 20px;
}

input,
label,
button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

form {
  margin: 21px;
  background-color: #f8dd6f;
  padding: 5%;
}

#header {
  text-align: center;
  border-style: dashed;
  background-color: #e3ae3f;
  margin: 20px;
}
#imag {
  margin-top: -21.5%;
  margin-left: 60%;
}
img {
  border-radius: 6%;
  border-style: dashed;
}





/* /* 

.intro {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f8c471;
  padding: 3%;
  border-style: double;
}

form{
  padding: 2%;
  text-align: center;
  border-style: solid;
  background-color: #f7dc6f;
}

.login input {
  margin-top: 2%;
}

.login button, .cabeceraCatalogo button {
  background-color: #f8c471;
  margin-top: 2%;
  font-weight: bold;
  font-size: large;
  color: black
}

body {
  background-color: #fcf3cf;
}

a{
	text-decoration: none;
	color: black;
} */ 