<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head> 
    <title>don Tornillos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/resumenStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
	<div class="tit">
     	<h1>EDICIÓN DE PEDIDO</h1>
     </div>
     
     <div class="content">
     	<form method="post" th:action="@{/editar/submit}">
     		<table border="1" class="pedido">
				<tr class="cabeceraTabla">
					<th scope="col">REFERENCIA PEDIDO</th>
					<td ><input type="text" name="ref" th:value="${pedido.getRef()}"/></td>
				</tr>
				<tr class="cabeceraTabla">
					<th scope="col">NOMBRE PRODUCTO</th>
					<th scope="col">CANTIDAD</th>
				</tr>
				<tr th:each="producto : ${listaCantidadYProducto}">
					<td th:text="${producto.key.getNombre()}"></td>
		        	<td ><input type="number" name="cantidad" min="0" th:value="${producto.value}"/></td>
				</tr>
			</table>
				
			<br>
				
			<h3>DATOS DEL ENVÍO:</h3>
				
		    <table border="1" class="pedido">
		    	<tr class="cabeceraTabla">
		     		<th scope="col">DIRECCIÓN</th>
		     		<th scope="col">TELÉFONO</th>
		     		<th scope="col">EMAIL</th>
		     		<th scope="col">TIPO DE ENVÍO</th>
		     	</tr>
		     	<tr>
			     	<td><input type="text" name="direccion" th:value="${pedido.getDireccion()}"/></td>
					<td><input type="text" name="telefono" th:value="${pedido.getTelefono()}"/></td>
					<td><input type="text" name="email" th:value="${pedido.getEmail()}"/></td>
					<td>
					Estándar<input type="radio" name="envio" value="estandar" checked="checked"/>
					Urgente<input type="radio" name="envio" value="urgente"/>
					</td>
		     	</tr>
		    </table>
		    <br>
	     	<button type="submit" id="doble">GUARDAR CAMBIOS</button>
     	</form>
		    <!--  <a th:href="@{/resumenPedido/{ref}(ref=${pedido.ref})}">VER RESUMEN</a> -->
     </div>
     
</div>

</body>
</html>