<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Don Tornillos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/hojaDeEstilos.css"></link>
</head>
    <body>
       <div align="center">
                
                <h1>LISTA DE PEDIDOS</h1>
		            <div id="form" align="center">
		            
		            <table id="bienvenidaUser">
			            <tr>
				            <td th:text="${usuario.getNombre()}"></td>
				            <td>,</td>
				            <td> aquí está tu lista de pedidos:</td>
			            </tr>
		            </table>
		            <br>

						<table border=1>
							<tr>
								<th scope="col">REFERENCIA</th>
								<th scope="col">FECHA</th>
								<th scope="col">DIRECCIÓN</th>
								<th scope="col">TIPO DE ENVÍO</th>
								<th scope="col">OPCIONES</th>
							</tr>
							<tr th:each="pedido : ${listaDePedidos}">
								<td th:text="${pedido.getRef()}"></td>
								<td th:text="${pedido.getFechaBonita()}"></td>
								<td th:text="${pedido.getDireccion}"></td>
								<td th:text="${pedido.getEnvio}"></td>
								<td>
								<button style="width: 42%"><a th:href="@{/pedido/editar/{ref}(ref=${pedido.ref})}">EDITAR</a></button>
								<button style="width: 42%"><a th:href="@{/pedido/borrar/{ref}(ref=${pedido.ref})}">BORRAR</a></button>
								</td>
							</tr>
						</table>
					<button id="doble"><a href="/cerrarSesion">CERRAR SESIÓN</a></button>
					</div>
		</div>
	</body>
</html>
								
							