<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Don Tornillos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/hojaDeEstilos.css"></link>
    </head>
    <body>
       <div align="center">
       
       <h1>OPCIONES DE USUARIO</h1>
                
            <div id="form">
            
            <table id="bienvenidaUser">
	           <tr>
		           <td>Bienvenid@ </td>
		           <td th:text="${usuario.getNombre()}"></td>
		           <td> </td>
		           <td>¿Qué quieres hacer?</td>
	           </tr>
		  	</table>
		  	<br>
                    
                    <button id="doble"><a href="/listarPedidos">Listar Pedidos</a></button>

                    <button id="doble"><a href="/opcionesUsuario/nuevoPedido">Crear Pedido</a></button>
             
                    <button id="doble"><a href="/cerrarSesion">Cerrar sesión</a></button>

            </div>



        </div>
    </body>
</html>