<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Don Tornillos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link href="/css/hojaDeEstilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div align="center">
	<h1>RESUMEN PEDIDO</h1>
	<form th:action="@{/nuevoPedido/listarPedidos}" method="post">
		<table border="1">
			<tr>
				<th>PRODUCTO</th>
				<th>CANTIDAD</th>
				<th>TOTAL</th>
			</tr>
			<tr th:each="producto : ${listaCantidadYProducto}">
	        <td th:if="${producto.value>0}" th:text="${producto.key.getNombre()}"></td>
	        <td th:if="${producto.value>0}" th:text="${producto.value}"></td>
	        <td th:if="${producto.value>0}" th:text="${producto.key.getPrecio()*producto.value}"></td>
	        </tr>
	     </table>
	     <br>
	     <h3>DATOS DEL ENVÍO:</h3>
	     <table border="1">
	     	<tr>
	     		<th>DIRECCIÓN</th>
	     		<th>TELÉFONO</th>
	     		<th>EMAIL</th>
	     		<th>TIPO DE ENVÍO</th>
	     	</tr>
	     	<tr>
		     	<!--  <td th:text="${usuario.getDireccion()}"></td>
				<td th:text="${usuario.getTelefono()}"></td>
				<td th:text="${usuario.getEmail()}"></td>-->
				<td>
				Envío Urgente<input type="radio" name="envio" value="urgente"/></br>
				Envío Estándar<input type="radio" name="envio" value="estandar"/>
				</td>
	     	</tr>
	     </table>
	     	<button type="submit" id="doble">REALIZAR PEDIDO</button>
	</form>
</div>

</body>
</html>