<!-- v2 -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head> 
    <title>Don Tornillos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link href="/css/listarStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div>

	<div class="tit">
       	<h1>CATÁLOGO DE PRODUCTOS</h1>
    </div>

	<div class="content">
				<!-- Debería tener un th:object que fuera el producto para pasarlo al modelo -->
		<table border=1 class="pedido">
			<tr class="cabeceraTabla">
				<th scope="col">PRODUCTO</th>
				<th scope="col">DESCRIPCIÓN</th>
				<th scope="col">PRECIO (€)</th>
				<th scope="col">CANTIDAD</th>
				<th scope="col">AÑADIR AL CARRITO</th>
				<input type="hidden" th:value="${usuarioID}"  name="usuarioID" >
				
			</tr>
			<tr th:each="producto : ${listaDeProductos}">
			<form th:action="@{/opcionesUsuario/nuevoPedido}" method="post" th:object="${produ}">
				<td th:text="${producto.getNombre()}"></td>
				<td th:text="${producto.getDescripcion()}"></td>
				<td th:text="${producto.getPrecio()}"></td>
				<input type="hidden" th:value="${usuarioID}"  name="usuarioID" >
				<input type="hidden" th:value="${pedidoID}" name="pedidoID" >
				<input type="hidden" th:value="${producto.id}"  th:name="id" th:id="id">
				<td><input type="number" name="unidades" min="0" value="0"/></td>
				<td><button type="submit" id="submit">AÑADIR</button></td>
			</form>
			</tr>
		</table>
		</br>
		<form th:action="@{/nuevoPedido/submit}"  method="post">
		<input type="hidden" th:value="${usuarioID}"  name="usuarioID" >
		<input type="hidden" th:value="${pedidoID}" name="pedidoID" >
			<button type="submit" id="submit" >ENVIAR</button>
			<button ><a href="/opcionesUsuario">ATRÁS</a></button>
		</form>
	
	</div>
	
	
</div>
	
</body>
</html>