@charset "UTF-8";

h1{
	color:olive;
	font-style: oblique;
}

.contenido{
	padding-top:2px;
	background-color: #c4ff9e;
	padding-left: 7px;
	padding-bottom: 2px;
	
}

#botonEmple, #botonAdd, #botonEnvio{
	background-color: rgb(219, 244, 84);
	font-size: medium;
	border-radius: 6px;
	border-color: black;
}

a{
	text-decoration: none;
	color: black;
}

form{
	padding-bottom: 6px;
	padding-top: 6px;
}
.fichaEmple, td, tr{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	background-color: white;
}
#title{
	font-weight: bold;
}
.excep{
	color: red;
	font-weight: bold;
}